body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: black;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

figure {
  margin: 5px;
}

img {
  height: 400px;
  width: 400px;
  border-radius: 12px;
}
button {
  background-image: linear-gradient(
    to right,
    #16a085 0%,
    #f4d03f 51%,
    #16a085 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
